{% set title = "About" %}
{% set current = "about" %}
{% extends "base.njk" %}


{% block main %}
<main>

  <h1>Welcome {{ title }}</h1>
  <p>Isn't this just the most exciting website ever?</p>
  <p><strong>{{ magic }}</strong></p>

</main>
{% endblock %}