{% extends "index.html" %}

{% block header %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
<ul>
  {% for name, item in items %}
  <li>{{ name }}: {{ item }}</li>
  {% endfor %}
</ul>
{% endblock %}
      

<section id="about" class="hide">
  <h1>Magic Square Visualisations <img src="logo.svg" width="20"></h1>
  <p>This is an art/research project by <a href="https://fania.eu">Fania Raczinski</a> and <a href="https://daveeveritt.org">Dave Everitt</a>.</p>
  <p>Read more about the <a href="https://cubelife.org/culture.html">culture</a>, <a href="https://cubelife.org/history/">history</a>, and <a href="https://cubelife.org/research.html">theory</a> of magic squares.</p>
  <p>There are 4 pages which have slightly different purposes.</p>
  <dl>
    <dt>ORDER-GROUPS:</dt>
    <dd>Shows all<sup>*</sup> magic squares of a given order in a given style.</dd>
    <dt>FILTER-GROUPS:</dt>
    <dd>Shows all magic squares of a given order in a given style which share a given length.</dd>
    <dd>This can be used to identify similar patterns in otherwise unique number sequences.</dd>
    <dt>SINGLE-INPUT:</dt>
    <dd>Either displays the given number sequence as a magic line in all styles, or</dd>
    <dd>shows all styles for each of the given IDs of the given order.</dd>
    <dt>DATA-SETS:</dt>
    <dd>Currently this is a space to display the Agrippa set of astrological magic squares togther one one screen.</dd>
  </dl>
  <p><sup>*</sup> Orders 5+ are incomplete sets.</p>
  <h2>How to Use:</h2>
  <p>Press 's' to hide/show the interface.</p>
  <p>Press 'F11' (on Windows) or 'Ctrl Cmd F' (on a Mac) to toggle fullscreen.</p>
  <h2>Printing:</h2>
  <p>ORDER-GROUPS printing is optimised for to fit all squares of an order on one A4 page.</p>
  <!-- <p>FILTER-GROUPS printing </p> -->
</section>