<html lang="en-gb">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magic Squares{% if title %}: {% endif %}{{ title }}</title>
  <meta name="keywords" content="magic-squares, svg, art">
  <meta name="author" content="Fania Raczinski, Dave Everitt">
  <meta name="description" content="A tool for generating animated magic square SVGs.">

  <link rel="apple-touch-icon" sizes="180x180" href="meta/imgs/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="meta/imgs/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="meta/imgs/favicons/favicon-16x16.png">
  <link rel="manifest" href="meta/imgs/favicons/site.webmanifest">
  <link rel="mask-icon" href="meta/imgs/favicons/safari-pinned-tab.svg" color="#b91d47">
  <link rel="shortcut icon" href="meta/imgs/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="MagicSquares">
  <meta name="application-name" content="MagicSquares">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-config" content="meta/imgs/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:title" content="Magic Squares" />
  <meta property="og:type" content="website" />
  <!-- <meta property="og:url" content="https://squares.fania.eu" /> -->
  <meta property="og:url" content="https://fania.github.io/magic" />
  <meta property="og:image" content="meta/imgs/example.png" />
  <!-- <script src="https://kit.fontawesome.com/51db5560fa.js" crossorigin="anonymous"></script> -->
  {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> #}
  <link id="mainStyles" rel="stylesheet" href="meta/css/styles.css">
  <!-- <link rel="stylesheet" href="meta/css/print.css"> -->
</head>

<body>

<header class="mainmenu">
  <div>
    <a href="/"><img class="logo" src="meta/imgs/logo.svg"></a>
    <h1>Magic Squares</h1>
  </div>

  <nav>
    <a id="homeMenu" href="/" {% if current == "home" %}class="active"{% endif %}>Home</a>
    <a id="galleryMenu" href="/gallery" {% if current == "gallery" %}class="active"{% endif %}>Gallery</a>
    <a id="contributeMenu" href="/contribute" {% if current == "contribute" %}class="active"{% endif %}>Contribute</a>
    <a id="aboutMenu" href="/about" {% if current == "about" %}class="active"{% endif %}>About</a>
  </nav>
</header>

{% block submenu %}{% endblock %}

{% block main %}{% endblock %}



{% block footer %}
<footer>
  <a id="download">&lt;3</a>
  <p>© <a href="https://fania.eu">Fania Raczinski</a> & <a href="https://daveeveritt.org/art.html">Dave Everitt</a></p>
</footer>
{% endblock %}






<div id="loading"></div>

<script src="meta/js/general.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>