{% set title = "Contribute" %}
{% set current = "contribute" %}
{% extends "base.njk" %}


{% block submenu %}
<header class="submenu contribute">

  <form id="manual" action="/contribute" method="post">
    <input id="manualInput" name="manualInput" type="text" placeholder="Enter magic square here. Comma or space separated numbers are fine." pattern="(?:[0-9]+[\s|,]){8,}[0-9]+">
  </form>

</header>
{% endblock %}


{% block main %}
<main>

  <h2>Contribute</h2>
  <p>You can contribute to our collection of higher order magic squares (n > 4) here.</p>
  <p>Simply enter a number sequence in the input box above.</p>
  <p>If you have a larger collection that you'd like to donate please contact us via email.</p>
  
  {# <script>console.log( {{ feedback | safe }} )</script> #}
  {% if feedback != 'blank' and feedback.magic %}
    <hr>
    <p><strong>Congratulations, the numbers produce an order {{ feedback.order }} magic square.</strong></p>
    
    {% if feedback.exists %}
      <p>This square already exists in our collection with ID <strong>{{ feedback.doc._id }}</strong>.</p>
    {% else %}
      <p>This square didn't already exist in our collection and we added it with ID <strong>{{ feedback.newID }}</strong>.</p>
    {% endif %}

    <div>{{ feedback.doc.numbers.svg | safe }}</div>

    <div class="allStyles">
      {{ feedback.doc.quadvertex.svg | safe }}
      {{ feedback.doc.straight.svg | safe }}
      {{ feedback.doc.quadline.svg | safe }}
      {{ feedback.doc.arc.svg | safe }}
      {{ feedback.doc.altarc.svg | safe }}
    </div>

  {% elif feedback != 'blank' %}
    <hr>
    <p><strong>Sorry, there are problems with your numbers:</strong></p>
    <p class="warning">{{ feedback.message }}</p>
  {% endif %}

  <output>
  </output>

</main>
{% endblock %}