{% set title = "Contribute" %}
{% set current = "contribute" %}
{% extends "base.njk" %}


{# {% block submenu %}
<header class="submenu contribute">

  <form id="manual" action="/contribute" method="post">
    <input id="manualInput" name="manualInput" type="text" placeholder="Enter magic square here. Comma or space separated numbers are fine." pattern="(?:[0-9]+[\s|,]){8,}[0-9]+">
  </form>

</header>
{% endblock %} #}


{% block main %}
<main class="contribute">

  <h2>Contribute</h2>
  <p>You can contribute to our collection of higher order magic squares (n > 5) here.</p>
  <p>Simply enter a number sequence in the input box above.</p>
  <p>If you have a larger collection that you'd like to donate please contact us via email.</p>

  <form id="manual" action="/contribute" method="post">
    <input id="manualInput" name="manualInput" type="text" placeholder="Enter magic square here. Comma or space separated numbers are fine." pattern="(?:[0-9]+[\s|,]){8,}[0-9]+">
  </form>
  
  {# <script>
    {% if result %} 
      console.log( {{ result | safe }} )
    {% endif %}
  </script> #}
  {% if result.magic %}
    <meta id="resultOrder" value="{{ result.order }}">
    <hr>
    <p><strong>Congratulations, these numbers produce an order {{ result.order }} magic square.</strong></p>
    
    {% if result.exists %}
      <p>This square already exists in our collection with ID <strong>{{ result.doc._id }}</strong>.</p>
      {% if result.matchType %}
        <p>Your input [{{  result.numbers }}] is a <strong>{{ result.matchType }}</strong> of the square below.</p>
      {% endif %}
    {% else %}
      <p>This square didn't already exist in our collection and we added it with ID <strong>{{ result.newID }}</strong>.</p>
    {% endif %}

    <div class="bothNumbers">{% if result.numberSVG %}{{  result.numberSVG | safe }} <span>
    {% if result.matchType == 'copy' %}<svg width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#EEEEEE" fill="none" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="3" x2="21" y2="3"></line><line x1="3" y1="12" x2="21" y2="12"></line></svg>{% endif %}
    {% if result.matchType == '90 degree rotation' %}<svg width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#EEEEEE" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M9 4.55a8 8 0 0 1 6 14.9m0 -4.45v5h5"></path><path d="M11 19.95a8 8 0 0 1 -5.3 -12.8" stroke-dasharray=".001 4.13"></path></svg>{% endif %}
    {% if result.matchType == '180 degree rotation' %}<svg width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#EEEEEE" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M4.05 11a8 8 0 1 1 .5 4m-.5 5v-5h5"></path></svg>{% endif %}
    {% if result.matchType == '270 degree rotation' %}<svg width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#EEEEEE" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><path d="M15 4.55a8 8 0 0 0 -6 14.9m0 -4.45v5h-5"></path><path d="M13 19.95a8 8 0 0 0 5.3 -12.8" stroke-dasharray=".001 4.13"></path></svg>{% endif %}
    {% if result.matchType == 'horizontal reflection' %}<svg width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#EEEEEE" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><line x1="3" y1="12" x2="21" y2="12" ></line><polyline points="7 16 17 16 7 21 7 16"></polyline><polyline points="7 8 17 8 7 3 7 8"></polyline></svg>{% endif %}
    {% if result.matchType == 'vertical reflection' %}<svg width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#EEEEEE" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><line x1="12" y1="3" x2="12" y2="21" ></line><polyline points="16 7 16 17 21 17 16 7"></polyline><polyline points="8 7 8 17 3 17 8 7"></polyline></svg>{% endif %}
    {% if result.matchType == 'diagonal reflection (D1)' %}<svg width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#EEEEEE" fill="none" stroke-linecap="round" stroke-linejoin="round" transform="rotate(-45,0,0)"><path stroke="none" d="M0 0h24v24H0z"></path><line x1="12" y1="3" x2="12" y2="21"></line><polyline points="16 7 16 17 21 17 16 7"></polyline><polyline points="8 7 8 17 3 17 8 7"></polyline></svg>{% endif %}
    {% if result.matchType == 'diagonal reflection (D2)' %}<svg width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#EEEEEE" fill="none" stroke-linecap="round" stroke-linejoin="round" transform="rotate(45,0,0)"><path stroke="none" d="M0 0h24v24H0z"></path><line x1="12" y1="3" x2="12" y2="21"></line><polyline points="16 7 16 17 21 17 16 7"></polyline><polyline points="8 7 8 17 3 17 8 7"></polyline></svg>{% endif %}
    </span> {% endif %}{{ result.numberSVGOLD | safe }}</div>

    <div class="allStyles">
      {{ result.quadvertexSVG | safe }}
      {{ result.straightSVG | safe }}
      {{ result.quadlineSVG | safe }}
      {{ result.arcSVG | safe }}
      {{ result.altarcSVG | safe }}
    </div>

  {% elif result %}
    <hr>
    <p><strong>Sorry, there are problems with your numbers:</strong></p>
    <p class="warning">{{ result.message }}</p>
  {% endif %}

  <output>
  </output>

</main>
{% endblock %}


{% block scripts %}
<script src="meta/js/contribute.js"></script>
{% endblock %}

<script>
  // recalc bounding box for arc and altarc styles

  const [...sqs] = document.querySelectorAll("svg [id*='arc']");
  console.log(sqs);
  sqs.forEach(sq => {
    const p = sq.querySelector("path");
    const bbx = p.getBBox();
    sq.setAttribute('viewBox', `${bbx.x} ${bbx.y} ${bbx.width} ${bbx.height}`);
  });

</script>