{% set title = "Contribute" %}
{% set current = "contribute" %}
{% extends "base.njk" %}


{% block submenu %}
<header class="submenu contribute">

  <form id="manual" action="/contribute" method="post">
    <input id="manualInput" name="manualInput" type="text" placeholder="Enter magic square here. Comma or space separated numbers are fine." pattern="(?:[0-9]+[\s|,]){8,}[0-9]+">
  </form>

</header>
{% endblock %}


{% block main %}
<main>

  <h2>Contribute</h2>
  <p>You can contribute to our collection of higher order magic squares (n > 4) here.</p>
  <p>Simply enter a number sequence in the input box above.</p>
  <p>If you have a larger collection that you'd like to donate please contact us via email.</p>
  
  {# <script>console.log( {{ result | safe }} )</script> #}
  {% if result != 'blank' and result.magic %}
    <hr>
    <p><strong>Congratulations, these numbers produce an order {{ result.order }} magic square.</strong></p>
    
    {% if result.exists %}
      <p>This square already exists in our collection with ID <strong>{{ result.doc._id }}</strong>.</p>
      {% if result.matchType %}
        <p>Your input [{{  result.numbers }}] is a <strong>{{ result.matchType }}</strong> of the square below.</p>
      {% endif %}
    {% else %}
      <p>This square didn't already exist in our collection and we added it with ID <strong>{{ result.newID }}</strong>.</p>
    {% endif %}

    <div>{{ result.doc.numbers.svg | safe }}</div>

    <div class="allStyles">
      {{ result.doc.quadvertex.svg | safe }}
      {{ result.doc.straight.svg | safe }}
      {{ result.doc.quadline.svg | safe }}
      {{ result.doc.arc.svg | safe }}
      {{ result.doc.altarc.svg | safe }}
    </div>

  {% elif result != 'blank' %}
    <hr>
    <p><strong>Sorry, there are problems with your numbers:</strong></p>
    <p class="warning">{{ result.message }}</p>
  {% endif %}

  <output>
  </output>

</main>
{% endblock %}


{% block scripts %}
<script src="meta/js/contribute.js"></script>
{% endblock %}