{% set title = "Gallery" %}
{% set current = "gallery" %}
{% extends "base.njk" %}


{% block submenu %}
<header class="submenu gallery">

  <nav>
    <a href="#videos">Videos</a>
    <a href="#renders">Renders</a>
    <a href="#lines">Lines</a>
  </nav>

</header>
{% endblock %}


{% block main %}
<main class="gallery">

  <h1>{{ title }}</h1>
  
  <section id="videos">
    <h2>Videos</h2>
    {% for file in files.videos %}
      <video autoplay muted loop>
        <source src="meta/gallery/vid/{{ file }}" type="video/mp4">
      </video>
    {% endfor %}
  </section>

  <section id="renders">
    <h2>Renders</h2>
    {% for file in files.renders %}
      <img src="meta/gallery/art/{{ file }}" loading="lazy">
    {% endfor %}
  </section>

  <section id="lines">
    <h2>Lines</h2>
    {% for file in files.images %}
      <img src="meta/gallery/img/{{ file }}" loading="lazy">
    {% endfor %}
  </section>

</main>
{% endblock %}

{% block scripts %}
<script src="meta/js/gallery.js"></script>
{% endblock %}