{% set title = "Gallery" %}
{% set current = "gallery" %}
{% extends "base.njk" %}


{# {% block submenu %}
<header class="submenu gallery">

  <nav>
    <a href="">Images</a>
    <a href="">Videos</a>
  </nav>

</header>
{% endblock %} #}


{% block main %}
<main class="gallery">

  <h1>{{ title }}</h1>
  
  <section>
    {% for file in vidFiles %}
      <video autoplay muted loop>
        <source src="meta/gallery/vid/{{ file }}" type="video/mp4">
      </video>
    {% endfor %}
  </section>

  <section>
    {% for file in imgFiles %}
      <img src="meta/gallery/img/{{ file }}">
    {% endfor %}
  </section>

  <section>
    {% for file in artFiles %}
      <img src="meta/gallery/art/{{ file }}">
    {% endfor %}
  </section>

</main>
{% endblock %}