{% set title = "Gallery" %}
{% set current = "gallery" %}
{% extends "base.njk" %}


{% block submenu %}
<header class="submenu gallery">

  <nav>
    <a href="">Images</a>
    <a href="">Videos</a>
  </nav>

</header>
{% endblock %}


{% block main %}
<main>

  <h1>Welcome {{ title }}</h1>
  <p>Isn't this just the most exciting website ever?</p>
  <p><strong>{{ magic }}</strong></p>
  
  <img src="meta/imgs/example.png">
  <img src="meta/imgs/example.png">
  <img src="meta/imgs/example.png">

</main>
{% endblock %}