{% set current = "home" %}
{% extends "base.njk" %}


{% block submenu %}
<header class="submenu home">

  <form id="settings" action="/" method="POST" >
  {# <form id="settings"> #}
  
    <fieldset id="orderOptions">
      <label>
        <span>Order</span>
        <select name="order" id="order">
          {# <option value="3">3</option>
          <option value="4" selected>4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option> #}
        </select>
      </label>
    </fieldset>

    <fieldset id="order4quadOptions">
      <label>
        <input type="radio" id="all" name="amount" value="all">
        <span>880</span>
      </label>
      <label>
        <input type="radio" id="unique" name="amount" value="unique" checked>
        <span>383</span>
      </label>
    </fieldset>

    <fieldset id="styleOptions">
      <legend>Style</legend>
      <label>
        <input type="radio" id="numbers" value="numbers" name="style" >
        <svg id="numbers-3-1" alt="Numbers display style" viewBox="0 -50 280 270" style="fill: #FFFFFF; font-size: 4em; font-family: sans-serif;"><text x="100" y="200">01</text><text x="200" y="0">02</text><text x="0" y="100">03</text><text x="0" y="0">04</text><text x="100" y="100">05</text><text x="200" y="200">06</text><text x="200" y="100">07</text><text x="0" y="200">08</text><text x="100" y="0">09</text></svg>
        {# <img src="meta/imgs/o3s1n.svg" alt="Numbers display style"> #}
        <span>Numbers</span>
      </label>
      <label>
        <input type="radio" id="straight" value="straight" name="style">
        <svg id="straight-3-1" alt="Straight display style" style="fill: none; stroke: #FFFFFF; stroke-width: 4px;" viewBox="-2 -2 204 204"><path class="lines" d="M100,200 200,0 0,100 0,0 100,100 200,200 200,100 0,200 100,0 100,200 "></path></svg>
        {# <img src="meta/imgs/o3s1s.svg" alt="Straight display style"> #}
        <span>Straight</span>
      </label>
      <label>
        <input type="radio" id="quadvertex" value="quadvertex" name="style" >
        <svg id="quadvertex-3-1" alt="Quadvertex display style" style="fill: none; stroke: #FFFFFF; stroke-width: 4px;" viewBox="-2 -2 204 204"><path class="lines" d="M 150,100 Q 200,0 100,50 Q 0,100 0,50 Q 0,0 50,50 Q 100,100 150,150 Q 200,200 200,150 Q 200,100 100,150 Q 0,200 50,100 Q 100,0 100,100 Q 100,200 150,100 "></path></svg>
        {# <img src="meta/imgs/o3s1qv.svg" alt="Quadvertex display style"> #}
        <span>Quadvertex</span>
      </label>
      <label>
        <input type="radio" id="quadline" value="quadline" name="style">
        <svg id="quadline-3-1" alt="Quadline display style" style="fill: none; stroke: #FFFFFF; stroke-width: 4px;" viewBox="-2 -2 204 204"><path class="lines" d="M 100,200 Q 200,0 0,100 Q 0,0 100,100 Q 200,200 200,100 Q 0,200 100,0 Q 100,0 100,200 "></path></svg>
        {# <img src="meta/imgs/o3s1ql.svg" alt="Quadline display style"> #}
        <span>Quadline</span>
      </label>
      <label>
        <input type="radio" id="arc" value="arc" name="style">
        <svg id="arc-3-1" alt="Arc display style" viewBox="-90 -50 350 350" style="fill: none; stroke: #FFFFFF; stroke-width: 6px;"><path class="lines arc" d="M100,200 A 50,50 0 1 1 100,200 A 50,50 0 1 1 200,0 A 50,50 0 1 1 0,100 A 50,50 0 1 1 0,0 A 50,50 0 1 1 100,100 A 50,50 0 1 1 200,200 A 50,50 0 1 1 200,100 A 50,50 0 1 1 0,200 A 50,50 0 1 1 100,0 A 50,50 0 1 1 100,200 "></path></svg>
        {# <img src="meta/imgs/o3s1a.svg" alt="Arc display style"> #}
        <span>Arc</span>
      </label>
      <label>
        <input type="radio" id="altarc" value="altarc" name="style">
        <svg id="altarc-3-1" alt="Alt-arc display style" viewBox="-60 -50 350 360" style="fill: none; stroke: #FFFFFF; stroke-width: 6px;"><path class="lines arc" d="M100,200 A 10,10 0 1 1 200,0 A 10,10 0 1 1 0,0 A 10,10 0 1 1 200,200 A 10,10 0 1 1 0,200 A 10,10 0 1 1 100,200 "></path></svg>
        {# <img src="meta/imgs/o3s1aa.svg" alt="Alt-arc display style"> #}
        <span>Alt-Arc</span>
      </label>
      <label>
        <input type="radio" id="circles" value="circles" name="style" >
        <svg id="circles-3-1" alt="Circles display style" viewBox="-40 -40 280 280"><circle class="num-1" style="fill: #091540" cx="100" cy="200" r="40"></circle><circle class="num-2" style="fill: #7692FF" cx="200" cy="0" r="40"></circle><circle class="num-3" style="fill: #ABD2FA" cx="0" cy="100" r="40"></circle><circle class="num-4" style="fill: #3D518C" cx="0" cy="0" r="40"></circle><circle class="num-5" style="fill: #1B2CC1" cx="100" cy="100" r="40"></circle><circle class="num-6" style="fill: #012A36" cx="200" cy="200" r="40"></circle><circle class="num-7" style="fill: #00A6FB" cx="200" cy="100" r="40"></circle><circle class="num-8" style="fill: #1F7A8C" cx="0" cy="200" r="40"></circle><circle class="num-9" style="fill: #50C9CE" cx="100" cy="0" r="40"></circle></svg>
        {# <img src="meta/imgs/o3s1c.svg" alt="Circles display style"> #}
        <span>Colours</span>
      </label>
      <label>
        <input type="radio" id="blocks" value="blocks" name="style" checked>
        <svg id="blocks-3-1" alt="Blocks display style" viewBox="0 0 300 300"><path class="num-1" style="fill: #091540" d="M100,200 h100 v100 h-100 z"></path><path class="num-2" style="fill: #7692FF" d="M200,0 h100 v100 h-100 z"></path><path class="num-3" style="fill: #ABD2FA" d="M0,100 h100 v100 h-100 z"></path><path class="num-4" style="fill: #3D518C" d="M0,0 h100 v100 h-100 z"></path><path class="num-5" style="fill: #1B2CC1" d="M100,100 h100 v100 h-100 z"></path><path class="num-6" style="fill: #012A36" d="M200,200 h100 v100 h-100 z"></path><path class="num-7" style="fill: #00A6FB" d="M200,100 h100 v100 h-100 z"></path><path class="num-8" style="fill: #1F7A8C" d="M0,200 h100 v100 h-100 z"></path><path class="num-9" style="fill: #50C9CE" d="M100,0 h100 v100 h-100 z"></path></svg>
        {# <img src="meta/imgs/o3s1b.svg" alt="Blocks display style"> #}
        <span>Blocks</span>
      </label>
      <label>
        <input type="radio" id="tetromino" value="tetromino" name="style" >
        <svg id="tetromino-3-1" alt="Tetromino display style" viewBox="-50 -50 350 350"><path class="num-1" style="fill: #091540" d="M100,200 h50 v50 h-50 z"></path><path class="num-2" style="fill: #7692FF" d="M200,0 h100 v50 h-100 z"></path><path class="num-3" style="fill: #ABD2FA" d="M0,100 h50 v100 h-50 z"></path><path class="num-4" style="fill: #3D518C" d="M-50,-50 h100 v50 h-50 v50 h-50 z"></path><path class="num-5" style="fill: #1B2CC1" d="M100,50 h50 v50 h50 v100 h-50 v-50 h-50 z"></path><path class="num-6" style="fill: #012A36" d="M200,200 v-50 h100 v50 h-50 v50 h-100 v-50 z"></path><path class="num-7" style="fill: #00A6FB" d="M150,100 h100 v-50 h50 v100 h-150 z"></path><path class="num-8" style="fill: #1F7A8C" d="M0,200 h100 v100 h-100 z"></path><path class="num-9" style="fill: #50C9CE" d="M50,-50 h100 v50 h-50 v50 h-50 z"></path></svg>
        {# <img src="meta/imgs/o3s1t.svg" alt="Tetromino display style"> #}
        <span>Tetromino</span>
      </label>
    </fieldset>

    <fieldset id="sizeOptions">
      <legend>Size</legend>
      <label>
        <span>Width/Height</span>
        <input type="range" id="size" name="size" value="20" step="5" min="1">
      </label>
      <label>
        <span>Gap</span>
        <input type="range" id="gap" name="gap" value="20">
      </label>
      <label>
        <span>Line-Width</span>
        <input type="range" id="strokeWidth" name="strokeWidth" value="2" min="1" max="30">
      </label>
      <label>
        <span>Overlap</span>
        <input type="checkbox" id="overlap" name="overlap" value="true">
      </label>
      <fieldset id="overlapOptions">
        <label>
          <input type="radio" id="overlapAll" name="overlapAmount" value="overlapAll">
          <span>all</span>
        </label>
        <label>
          <input type="radio" id="overlap200" name="overlapAmount" value="overlap200" checked>
          <span>200</span>
        </label>
      </fieldset>
    </fieldset>

    <fieldset id="colourOptions">
      <legend>Colours</legend>
        <div class="printSettings">
          <label><input type="radio" name="lighting" id="night" checked><svg class="tablericon moon" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#eeeeee" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><path d="M16.2 4a9.03 9.03 0 1 0 3.9 12a6.5 6.5 0 1 1 -3.9 -12"/></svg>
          </label>
          <label><input type="radio" name="lighting" id="day"><svg class="tablericon sun" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#eeeeee" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><circle cx="12" cy="12" r="4"/><path d="M3 12h1M12 3v1M20 12h1M12 20v1M5.6 5.6l.7 .7M18.4 5.6l-.7 .7M17.7 17.7l.7 .7M6.3 17.7l-.7 .7"/></svg></label>
        </div>
      <label>
        <span>Background</span>
        <input type="color" id="background" name="background" value="#000000">
      </label>
      <label>
        <span>Stroke</span>
        <input type="color" id="stroke" name="stroke" value="#FFFFFF">
      </label>
      <label>
        <span>Stroke Alpha</span>
        <input type="range" id="salpha" name="salpha" value="255" min="0" max="255" step="5">
      </label>
      <label>
        <span>Fill</span>
        <input type="color" id="fill" name="fill" value="#666666">
      </label>
      <label>
        <span>Fill Alpha</span>
        <input type="range" id="falpha" name="falpha" value="0" min="0" max="255" step="5">
      </label>
    </fieldset>

    <fieldset id="animationOptions">
      <legend>Animation</legend>
      <label>
        <input type="radio" id="sync" name="animation" value="sync">
        <span>sync</span>
      </label>
      <label>
        <input type="radio" id="async" name="animation" value="async">
        <span>async</span>
      </label>
      <label>
        <input type="radio" id="off" name="animation" value="off" checked>
        <span>off</span>
      </label>
      <label>
        <span>Speed</span>
        <input type="range" id="speed" name="speed" value="20">
      </label>
    </fieldset>

    <fieldset id="presetOptions">
      <legend>Themes</legend>
      <label for="themes">Choose theme</label>
      <select id="themes">
        <option value="">Choose</option>
      </select>
      <input type="button" id="random" value="random">
      <input type="button" id="reset" value="reset">
      <input type="submit" id="saveTheme" value="save">
      <input type="button" id="share" value="share">
      <input type="hidden" id="themeName" name="_id" value="">
    </fieldset>

    {# <fieldset id="advancedOptions">
      <label for="lengths">Length</label>
      <select id="lengths">
        <option value="">Choose</option>
      </select>
      <input type="input" id="search" placeholder="search id(s)">
    </fieldset> #}

  </form>
</header>
{% endblock %}


{% block main %}







<main class="home">

<div id="update-notice" hidden>
  Updates available
  <button id="update">update</button>
</div>

  <output id="squares"></output>
</main>
{% endblock %}


{% block scripts %}
{# <script src="lazysizes.min.js" async=""></script> #}
<script src="meta/js/home.js"></script>
{% endblock %}


<datalist id="widthHeightList">
  <option value="1">
  <option value="2">
  <option value="2">
</datalist>
