{% set current = "home" %}
{% extends "base.njk" %}


{% block submenu %}
<header class="submenu home">

  {# <nav>
    <p><strong>Display:</strong></p>
    <a id="uniquesMenu" class="active" href="">Uniques</a>
    <a id="unfilteredMenu" href="">All</a>
  </nav> #}

  <form>
  
    <fieldset id="orderOptions">
      <label>
        <span>Order</span>
        <select name="displayOrder" id="order">
          <option value="3">3</option>
          <option value="4" selected>4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
        </select>
      </label>
    </fieldset>

    {# <fieldset id="order4quadOptions">
      <label for="all">
        <input type="radio" id="all" name="displayAmount">
        <span>All | </span>
      </label>
      <label for="unique">
        <input type="radio" id="unique" name="displayAmount" checked>
        <span>Uniques</span>
      </label>
    </fieldset> #}

    <fieldset id="styleOptions">
      <legend>Style</legend>
      <label>
        <input type="radio" id="numbers" name="displayStyle" >
        <img src="meta/imgs/o3s1n.svg">
        {# <span>Numbers</span> #}
      </label>
      <label>
        <input type="radio" id="straight" name="displayStyle">
        <img src="meta/imgs/o3s1s.svg">
        {# <span>Straight</span> #}
      </label>
      <div>
        <label>
          <input type="radio" id="quadvertex" name="displayStyle" >
          <div><img src="meta/imgs/o3s1qv.svg"></div>
          {# <span>Quadvertex</span> #}
        </label>
        <fieldset id="order4quadOptions">
          <label>
            <input type="radio" id="all" name="displayAmount">
            <span>880 | </span>
          </label>
          <label>
            <input type="radio" id="unique" name="displayAmount" checked>
            <span>383</span>
          </label>
        </fieldset>
      </div>
      <label>
        <input type="radio" id="quadline" name="displayStyle">
        <img src="meta/imgs/o3s1ql.svg">
        {# <span>Quadline</span> #}
      </label>
      <label>
        <input type="radio" id="arc" name="displayStyle">
        <div><img src="meta/imgs/o3s1a.svg"></div>
        {# <span>Arc</span> #}
      </label>
      <label>
        <input type="radio" id="altarc" name="displayStyle">
        <div><img src="meta/imgs/o3s1aa.svg"></div>
        {# <span>Alt-Arc</span> #}
      </label>
      <label>
        <input type="radio" id="circles" name="displayStyle" >
        <div><img src="meta/imgs/o3s1c.svg"></div>
        {# <span>Colours</span> #}
      </label>
      <label>
        <input type="radio" id="blocks" name="displayStyle" checked>
        <div><img src="meta/imgs/o3s1b.svg"></div>
        {# <span>Blocks</span> #}
      </label>
      <label>
        <input type="radio" id="tetromino" name="displayStyle" >
        <div><img src="meta/imgs/o3s1t.svg"></div>
        {# <span>Tetromino</span> #}
      </label>
    </fieldset>

    <fieldset id="sizeOptions">
      <label>
        <span>Size</span>
        <input type="range" id="size" value="20">
      </label>
      <label>
        <span>Space</span>
        <input type="range" id="gap" value="20">
      </label>
    </fieldset>

    <fieldset id="colourOptions">
      <legend>Colours</legend>
      <label>
        <span>Background</span>
        <input type="color" id="back" value="#000000">
      </label>
      <label>
        <span>Stroke</span>
        <input type="color" id="stroke" value="#FFFFFF">
      </label>
      <label>
        <span>Stroke Alpha</span>
        <input type="range" id="salpha" value="0">
      </label>
      <label>
        <span>Fill</span>
        <input type="color" id="fill" value="#666666">
      </label>
      <label>
        <span>Fill Alpha</span>
        <input type="range" id="falpha" value="1" min="0" max="1">
      </label>
    </fieldset>

    <fieldset id="animationOptions">
      <legend>Animation</legend>
      <label>
        <span>sync</span>
        <input type="radio" id="animSync" name="animationStyle">
      </label>
      <label>
        <span>async</span>
        <input type="radio" id="animAsync" name="animationStyle">
      </label>
      <label>
        <span>off</span>
        <input type="radio" id="animOff" name="animationStyle" checked>
      </label>
      <label>
        <span>Speed</span>
        <input type="range" id="speed" value="50">
      </label>
    </fieldset>


  </form>
</header>
{% endblock %}


{% block main %}






<main>
  <output id="squares"></output>
</main>
{% endblock %}


{% block scripts %}
{# <script src="lazysizes.min.js" async=""></script> #}
<script src="meta/js/home.js"></script>
{% endblock %}