{% set current = "home" %}
{% extends "base.njk" %}


{% block submenu %}
<header class="submenu home">

  {# <nav>
    <p><strong>Display:</strong></p>
    <a id="uniquesMenu" class="active" href="">Uniques</a>
    <a id="unfilteredMenu" href="">All</a>
  </nav> #}

  <form>
    <fieldset id="orderOptions">
      <label for="order">
        <select name="displayOrder" id="order">
          <option value="3">3</option>
          <option value="4" selected>4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
        </select>
        <span>Order</span>
      </label>
    </fieldset>

    <fieldset id="order4quadOptions">
      <label for="all">
        <input type="radio" id="all" name="displayAmount">
        <span>All | </span>
      </label>
      <label for="unique">
        <input type="radio" id="unique" name="displayAmount" checked>
        <span>Uniques</span>
      </label>
    </fieldset>

    <fieldset id="styleOptions">
      <label for="numbers">
        <input type="radio" id="numbers" name="displayStyle">
        <img src="meta/imgs/o4s19n.svg">
        <span>Numbers</span>
      </label>
      <label for="straight">
        <input type="radio" id="straight" name="displayStyle">
        <img src="meta/imgs/o4s19s.svg">
        <span>Straight</span>
      </label>
      <label for="quadvertex">
        <input type="radio" id="quadvertex" name="displayStyle" checked>
        <div><img src="meta/imgs/o4s19qv.svg"></div>
        <span>Quadvertex</span>
      </label>
      <label for="quadline">
        <input type="radio" id="quadline" name="displayStyle">
        <img src="meta/imgs/o4s19ql.svg">
        <span>Quadline</span>
      </label>
      <label for="arc">
        <input type="radio" id="arc" name="displayStyle">
        <div><img src="meta/imgs/o4s19a.svg"></div>
        <span>Arc</span>
      </label>
      <label for="altarc">
        <input type="radio" id="altarc" name="displayStyle">
        <div><img src="meta/imgs/o4s19aa.svg"></div>
        <span>Alt-Arc</span>
      </label>
    </fieldset>
  </form>
</header>
{% endblock %}


{% block main %}
<main>
  <output id="squares"></output>
</main>
{% endblock %}


{% block scripts %}
{# <script src="lazysizes.min.js" async=""></script> #}
<script src="meta/js/home.js"></script>
{% endblock %}