<!doctype html>
<html lang="en-gb">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}'s Magic Squares</title>
  <meta name="keywords" content="magic-squares, svg, art">
  <meta name="author" content="Fania Raczinski, Dave Everitt">
  <meta name="description" content="A tool for generating animated magic square SVGs.">

  <link rel="apple-touch-icon" sizes="180x180" href="imgs/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="imgs/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="imgs/favicons/favicon-16x16.png">
  <link rel="manifest" href="imgs/favicons/site.webmanifest">
  <link rel="mask-icon" href="imgs/favicons/safari-pinned-tab.svg" color="#b91d47">
  <link rel="shortcut icon" href="imgs/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="MagicSquares">
  <meta name="application-name" content="MagicSquares">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-config" content="imgs/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta property="og:title" content="Magic Squares" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://squares.cubelife.org" />
  <!-- <meta property="og:url" content="https://fania.github.io/magic-SVG" /> -->
  <meta property="og:image" content="imgs/example.png" />
  <!-- <script src="https://kit.fontawesome.com/51db5560fa.js" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link id="mainStyles" rel="stylesheet" href="css/styles.css">
  <!-- <link rel="stylesheet" href="css/print.css"> -->
</head>


<body>

<img src="imgs/logo.svg" alt="logo" width="100">


<main>

  <h1><!--vue-ssr-outlet--></h1>

</main>





</body>
</html>
