{% set current = "home" %}
{% extends "base.njk" %}


{% block submenu %}
<header class="submenu home">

  <nav>
    <p><strong>Display:</strong></p>
    <a id="uniquesMenu" href="">Uniques</a>
    <a id="unfilteredMenu" href="">All</a>
  </nav>

  <form>
    <fieldset>
      <label for="numbers">
        <input type="radio" id="numbers" name="displayStyle">
        <img src="meta/imgs/o4s19n.svg">
        <span>Numbers</span>
      </label>
      <label for="straight">
        <input type="radio" id="straight" name="displayStyle">
        <img src="meta/imgs/o4s19s.svg">
        <span>Straight</span>
      </label>
      <label for="quadvertex">
        <input type="radio" id="quadvertex" name="displayStyle" checked>
        <div><img src="meta/imgs/o4s19qv.svg"></div>
        <span>Quadvertex</span>
      </label>
      <label for="quadline">
        <input type="radio" id="quadline" name="displayStyle">
        <img src="meta/imgs/o4s19ql.svg">
        <span>Quadline</span>
      </label>
      <label for="arc">
        <input type="radio" id="arc" name="displayStyle">
        <div><img src="meta/imgs/o4s19a.svg"></div>
        <span>Arc</span>
      </label>
      <label for="altarc">
        <input type="radio" id="altarc" name="displayStyle">
        <div><img src="meta/imgs/o4s19aa.svg"></div>
        <span>Alt-Arc</span>
      </label>
    </fieldset>
  </form>
</header>
{% endblock %}


{% block main %}
<main>
  <output id="squares"></output>
</main>
{% endblock %}