{% set current = "research" %}
{% extends "base.njk" %}


{% block submenu %}
<header class="submenu research">

  <form id="settings" action="/research" method="POST" >
  {# <form id="settings"> #}
  
    <fieldset id="researchType">
      <legend>Filter</legend>
      <label>
        <input type="radio" id="lengthRadio" name="type" value="lengthRadio" checked>
        <span>by length</span>
      </label>
      <br>
      <label>
        <input type="radio" id="classesRadio" name="type" value="classes">
        <span>by classes</span>
      </label>
    </fieldset>

    <fieldset id="lenOptions">
      <legend>Options</legend>
      <label>
        <span>Lengths</span>
        <select id="lengths">
          <option value="unique">Unique</option>
          <option value="shared">Shared</option>
        </select>
        <input id="none" class="filter-none" type="checkbox"/>
        <label for="none" class="tag">none</label>
      </label>
    </fieldset>

    <fieldset id="ourOptions" class="hide">
      <legend>Our Tags</legend>
      <input id="unique" class="filter-unique" type="checkbox"/>
      <label for="unique" class="tag">unique</label>

      <input id="MH" class="filter-MH" type="checkbox"/>
      <label for="MH" class="tag">MH</label>
      
      <input id="MV" class="filter-MV" type="checkbox"/>
      <label for="MV" class="tag">MV</label>
      
      <input id="MD1" class="filter-MD1" type="checkbox"/>
      <label for="MD1" class="tag">MD1</label>
      
      <input id="MD2" class="filter-MD2" type="checkbox"/>
      <label for="MD2" class="tag">MD2</label>
      
      <input id="R1" class="filter-R1" type="checkbox"/>
      <label for="R1" class="tag">R1</label>
      
      <input id="R2" class="filter-R2" type="checkbox"/>
      <label for="R2" class="tag">R2</label>
      
      <input id="R3" class="filter-R3" type="checkbox"/>
      <label for="R3" class="tag">R3</label>
    </fieldset>

    <fieldset id="moranOptions" class="hide">
      <legend>Moran Classes</legend>
      <input id="elara" class="filter-elara" type="checkbox"/>
      <label for="elara" class="tag">elara</label>

      <input id="asteria" class="filter-asteria" type="checkbox"/>
      <label for="asteria" class="tag">asteria</label>
      
      <input id="hestia" class="filter-hestia" type="checkbox"/>
      <label for="hestia" class="tag">hestia</label>
      
      <input id="hera" class="filter-hera" type="checkbox"/>
      <label for="hera" class="tag">hera</label>
      
      <input id="demeter" class="filter-demeter" type="checkbox"/>
      <label for="demeter" class="tag">demeter</label>
      
      <input id="niobe" class="filter-niobe" type="checkbox"/>
      <label for="niobe" class="tag">niobe</label>
      
      <input id="thaumas" class="filter-thaumas" type="checkbox"/>
      <label for="thaumas" class="tag">thaumas</label>
      
      <input id="nemesis" class="filter-nemesis" type="checkbox"/>
      <label for="nemesis" class="tag">nemesis</label>

      <input id="arges" class="filter-arges" type="checkbox"/>
      <label for="arges" class="tag">arges</label>

      <input id="eris" class="filter-eris" type="checkbox"/>
      <label for="eris" class="tag">eris</label>

      <input id="moros" class="filter-moros" type="checkbox"/>
      <label for="moros" class="tag">moros</label>

      <input id="cottus" class="filter-cottus" type="checkbox"/>
      <label for="cottus" class="tag">cottus</label>
    </fieldset>

    <fieldset id="filterOptions" class="hide">
      <legend>Class Tags</legend>
      <input id="pandiag" class="filter-pandiag" type="checkbox"/>
      <label for="pandiag" class="tag">Pandiagonal</label>
      
      <input id="symmetric" class="filter-symmetric" type="checkbox"/>
      <label for="symmetric" class="tag">Associative</label>
      
      <input id="self-compl" class="filter-self-compl" type="checkbox"/>
      <label for="self-compl" class="tag">Self-compl.</label>
    </fieldset>
      
    <fieldset id="presetOptions">
      <legend>Other</legend>
      <input type="button" id="share" value="share">
      <div class="printSettings">
        <label><input type="radio" name="lighting" id="night" checked><svg class="tablericon moon" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M16.2 4a9.03 9.03 0 1 0 3.9 12a6.5 6.5 0 1 1 -3.9 -12"></path></svg></label>
        <label><input type="radio" name="lighting" id="day"><svg class="tablericon sun" width="44" height="44" viewBox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="4"></circle><path d="M3 12h1M12 3v1M20 12h1M12 20v1M5.6 5.6l.7 .7M18.4 5.6l-.7 .7M17.7 17.7l.7 .7M6.3 17.7l-.7 .7"></path></svg></label>
      </div>
    </fieldset>

    {# <input type="input" id="search" placeholder="search id(s)"> #}

  </form>
</header>
{% endblock %}


{% block main %}
<main class="research lengthClass">
  <output id="squares"></output>
</main>
{% endblock %}


{% block scripts %}
<script src="meta/js/svg-path-properties.min.js"></script>
<script src="meta/js/lodash.min.js"></script>
<script src="meta/js/research.js"></script>
{% endblock %}


<datalist id="widthHeightList">
  <option value="1">
  <option value="2">
  <option value="2">
</datalist>
