{% set current = "research" %}
{% extends "base.njk" %}


{% block submenu %}
<header class="submenu research">

  <form id="settings" action="/research" method="POST" >
  {# <form id="settings"> #}
  
    {# <fieldset id="orderOptions">
      <label>
        <span>Order</span>
        <select name="order" id="order">
          <option value="3">3</option>
          <option value="4" selected>4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
        </select>
      </label>
    </fieldset> #}

    <fieldset id="advancedOptions">
      {# <legend>Advanced Options</legend> #}
      {# <label>
        <span>Class</span>
        <select name="classification" id="classification">
          <option value="all" selected>All</option>
          <option value="pandiag">Pandiagonal</option>
          <option value="symmetric">Associative</option>
          <option value="self-compl">Self-compl.</option>
        </select>
      </label> #}
      <label>
        <span>Length</span>
        <select id="lengths">
          <option value="">Choose</option>
        </select>
      </label>
    </fieldset>

    <fieldset id="ourOptions">
      <legend>Our Tags</legend>
      <input id="unique" class="filter-unique" type="checkbox"/>
      <label for="unique" class="tag">unique</label>

      <input id="MH" class="filter-MH" type="checkbox"/>
      <label for="MH" class="tag">MH</label>
      
      <input id="MV" class="filter-MV" type="checkbox"/>
      <label for="MV" class="tag">MV</label>
      
      <input id="MD1" class="filter-MD1" type="checkbox"/>
      <label for="MD1" class="tag">MD1</label>
      
      <input id="MD2" class="filter-MD2" type="checkbox"/>
      <label for="MD2" class="tag">MD2</label>
      
      <input id="R1" class="filter-R1" type="checkbox"/>
      <label for="R1" class="tag">R1</label>
      
      <input id="R2" class="filter-R2" type="checkbox"/>
      <label for="R2" class="tag">R2</label>
      
      <input id="R3" class="filter-R3" type="checkbox"/>
      <label for="R3" class="tag">R3</label>
    </fieldset>

    <fieldset id="filterOptions">
      <legend>Class Tags</legend>
      <input id="pandiag" class="filter-pandiag" type="checkbox"/>
      <label for="pandiag" class="tag">Pandiagonal</label>
      
      <input id="symmetric" class="filter-symmetric" type="checkbox"/>
      <label for="symmetric" class="tag">Associative</label>
      
      <input id="self-compl" class="filter-self-compl" type="checkbox"/>
      <label for="self-compl" class="tag">Self-compl.</label>
    </fieldset>
      

    {# <input type="input" id="search" placeholder="search id(s)"> #}

  </form>
</header>
{% endblock %}


{% block main %}
<main class="research">
  <output id="squares"></output>
</main>
{% endblock %}


{% block scripts %}
{# <script src="lazysizes.min.js" async=""></script> #}
<script src="meta/js/research.js"></script>
{% endblock %}


<datalist id="widthHeightList">
  <option value="1">
  <option value="2">
  <option value="2">
</datalist>
