
@page {
  margin: 0;
  size: A4 landscape;
}

body { 
  margin: var(--marg) 40px;
  overflow: hidden;
}
#squares svg { 
  width: var(--size); 
  height: var(--size);
  box-sizing: border-box;
}

header, .mainmenu, footer { display: none }
[id^="numbers"] { padding: 2px }
[id^="quadvertex"],
[id^="quadline"],
[id^="straight"],
[id^="circles"],
[id^="blocks"],
[id^="tetromino"] { padding: 3px; margin: 0; }

/* hide main content if modal is showing */
main #squares.modalShowing { 
  display: none;
}
#modal { 
  /* background-color: #FFFFFF;  */
  background-color: inherit; 
}
#modal figcaption { display: none; }

main.home, main.research { margin: 0 }

#squares {
  justify-content: start;
}

/* size = how many columns */
/* marg = how many rows */

body.order3,
body.order17,
body.order19,
body.order21,
body.order25,
body.order27,
body.order28,
body.order30,
body.order32 {  /* 1 */
  --size: calc((100vw - 80px) / 2);
  --marg: calc( ( 100vh - ( var(--size) * 1 ) ) / 2 );
}
body.order3 #squares,
body.order17 #squares,
body.order19 #squares,
body.order21 #squares,
body.order25 #squares,
body.order27 #squares,
body.order28 #squares,
body.order30 #squares,
body.order32 #squares {
  justify-content: center;
}
body.order11,
body.order18,
body.order24 {  /* 2 */
  --size: calc((100vw - 80px) / 2);
  --marg: calc( ( 100vh - ( var(--size) * 1 ) ) / 2 );
}
body.order13 {  /* 4 */
  --size: calc((100vw - 80px) / 4);
  --marg: calc( ( 100vh - ( var(--size) * 1 ) ) / 2 );
}
body.order14,
body.order15 {  /* 5 */
  --size: calc((100vw - 80px) / 3);
  --marg: calc( ( 100vh - ( var(--size) * 2 ) ) / 2 );
}
body.order7 {  /* 8 */
  --size: calc((100vw - 80px) / 4);
  --marg: calc( ( 100vh - ( var(--size) * 2 ) ) / 2 );
}
body.order10 {  /* 9 */
  --size: calc((100vw - 80px) / 5);
  --marg: calc( ( 100vh - ( var(--size) * 2 ) ) / 2 );
}
body.order20 {  /* 12 */
  --size: calc((100vw - 80px) / 4);
  --marg: calc( ( 100vh - ( var(--size) * 3 ) ) / 2 );
}
body.order16 {  /* 15 */
  --size: calc((100vw - 80px) / 5);
  --marg: calc( ( 100vh - ( var(--size) * 3 ) ) / 2 );
}
body.order9 {  /* 17 */
  --size: calc((100vw - 80px) / 6);
  --marg: calc( ( 100vh - ( var(--size) * 3 ) ) / 2 );
}
body.order12 {  /* 22 */
  --size: calc((100vw - 80px) / 6);
  --marg: calc( ( 100vh - ( var(--size) * 4 ) ) / 2 );
}
body.order8 {  /* 25 */
  --size: calc((100vw - 80px) / 7);
  --marg: calc( ( 100vh - ( var(--size) * 4 ) ) / 2 );
}
body.order6 {  /* 35 */
  --size: calc((100vw - 80px) / 7);
  --marg: calc( ( 100vh - ( var(--size) * 5 ) ) / 2 );
}
body.order4U {  /* 383 */
  --size: calc((100vw - 80px) / 24);
  --marg: calc( ( 100vh - ( var(--size) * 16 ) ) / 2 );
}
body.order4 {  /* 880 */
  --size: calc((100vw - 80px) / 40);
  --marg: calc( ( 100vh - ( var(--size) * 22 ) ) / 2 );
}
body.order5 {  /* ~5000 */
  --size: calc((100vw - 80px) / 40);
  --marg: 40px;
}




body.order4U.dayMode #squares:after {
  content: url(../imgs/logo-dark.svg);
  width: calc( var(--size) - 2px );
  height: calc( var(--size) - 2px );
}
body.order4U:not(.dayMode) #squares:after {
  content: url(../imgs/logo.svg);
  width: calc( var(--size) - 2px );
  height: calc( var(--size) - 2px );
}

