/* @media print { */

@page {
  margin: 0;
  size: A4 landscape;
}

body { 
  margin: var(--marg) 40px;
  overflow: hidden;
}
.order-x, .order-xt { 
  width: var(--size); 
  height: var(--size);
}

header, .mainmenu, footer { display: none }
.order-x, .order-xt { box-sizing: border-box }
.order-xt { padding: 2px }
.pad { padding: 3px; margin: 0; }

/* hide main content if modal is showing */
main.home #squares.modalShowing { 
  display: none;
}
#modal { 
  /* background-color: #FFFFFF;  */
  background-color: inherit; 
}
main.home { margin: 0 }
/* size = how many columns */
/* marg = how many rows */

/* 880 */
body.order4 {
  --size: calc((100vw - 80px) / 40);
  --marg: calc( ( 100vh - ( var(--size) * 22 ) ) / 2 );
}
body.order4U {  /* 383 */
  --size: calc((100vw - 80px) / 24);
  --marg: calc( ( 100vh - ( var(--size) * 16 ) ) / 2 );
}




body.order4U #squares {
  justify-content: start;
}
body.order4U.dayMode #squares:after {
  content: url(../imgs/logo-dark.svg);
  width: calc( var(--size) - 2px );
  height: calc( var(--size) - 2px );
}
body.order4U:not(.dayMode) #squares:after {
  content: url(../imgs/logo.svg);
  width: calc( var(--size) - 2px );
  height: calc( var(--size) - 2px );
}




/* } */
