/* html {
  --backColour: #222222;
  --mediumBackColour: #11111140;
  --darkBackColour: #11111195;
  --textColour: #eeeeee;
} */

body {
  --backColour: #222222;
  --mediumBackColour: #11111140;
  --darkBackColour: #11111195;
  --textColour: #eeeeee;
}

/* BASE */
body {
  background: var(--backColour); color: var(--textColour);
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}
a { color: var(--textColour) }
header { margin: 0; padding: 0 1em; }
header.hide, footer.hide { display: none; }
.hide ~ main.home,
.hide ~ main.research { margin-left: 2em; }


header svg {
  stroke: var(--textColour);
}




.printSettings { display: none; }




/* MAINMENU */
.mainmenu { 
  background: var(--darkBackColour);
  display: flex; align-items: center; justify-content: space-between }
.mainmenu div { display: flex; align-items: center }
.mainmenu div .logo { width: 50px; height: 50px }
.mainmenu div h1 { display: none }

#hamburger svg { 
  width: 30px; height: 30px; 
  margin: 0; padding: 13px;
  transition: all 1s }
#hamburger.rotate svg { transform: rotate(90deg); transition: all 1s }
#mainnav { 
  box-sizing: border-box; z-index: 2;
  background: #111111CC; padding: 1em;
  position: fixed; top: 59px; height: 30%; width: 100%;
  display: flex; flex-direction: column; 
  align-items: flex-end; justify-content: space-around;
  transform: translateX(100%); transition: all 1s }
#mainnav.show { 
  transform: translateX(-4%); transition: all 1s }
#mainnav a { 
  padding: 4px 1em; text-transform: uppercase;
  box-sizing: border-box; height: 1.75em; 
  text-decoration: none; padding: 6px 10px }
#mainnav a.active { border-right: 3px solid white }



/* SUBMENU */
#subway svg { 
  width: 30px; height: 30px; 
  margin: 0; padding: 13px;
  transition: all 1s }
#subway.rotate svg { transform: rotate(-90deg); transition: all 1s }

.submenu { box-sizing: border-box; background: #111111CC }
.submenu nav a { 
  color: var(--textColour); text-decoration: none; padding: 0 1em }
.submenu nav p { padding: 0 1em }
.submenu.home, 
.submenu.research { 
  position: absolute;
  transform: translateX(-100%); transition: all 1s;
  width: 100%; height: calc(100vh - 70px) }
.submenu.home.show, 
.submenu.research.show { transform: translateX(0); transition: all 1s; z-index: 9; }
.submenu.home form, 
.submenu.research form {  
  display: flex; flex-direction: column; justify-content: space-around;
  height: 100%; position: relative }

.submenu.gallery { 
  transform: translateX(-100%);
}
.submenu.gallery.show nav { 
  display: flex; flex-direction: column; justify-content: space-around;
  width: 100%; }


/* header.submenu form { margin: 0; } */
/* header.submenu form fieldset { border: none; margin: 0; padding: 0; } */
/* header.submenu label { box-sizing: border-box; } */



form input,
form label,
form select,
form option {
  font-size: 16px;
}
input[type="submit"],
input[type="button"] {
  font-size: .8em;
}


#orderOptions select#order { min-width: 50px; }

#styleOptions svg {
  width: 40px; padding: 4px; box-sizing: border-box; filter: grayscale(1); margin: 0;
}
#styleOptions img {
  width: 40px; padding: 4px; box-sizing: border-box; filter: grayscale(1);
}
#styleOptions label { display: inline-block; }
#styleOptions label span { display: none; }
#styleOptions [type="radio"] { display: none; }
#styleOptions [type="radio"]:checked + svg { border: 1px dotted #666; }
#styleOptions [type="radio"]:checked + img { border: 1px dotted #666; }


#order4quadOptions { border: 0; position: absolute; top: 8px; right: 8px; }
#order4quadOptions.hide { display: none }


#sizeOptions { position: relative; display: flex; flex-direction: column; }
#sizeOptions > label:not(:last-of-type) { display: table; width: 100%; } 
#sizeOptions > label:not(:last-of-type) span, 
#sizeOptions > label:not(:last-of-type) input { display: table-cell; } 
#sizeOptions > label:not(:last-of-type) span {  width: 50%; } 
#sizeOptions > label:not(:last-of-type) input {  width: 100%; } 
#overlapOptions { position: absolute; bottom: 0; right: 0; border: 0; }


#colourOptions [type="color"] { 
  width: 35px; padding: 0; margin: 0; border: 0; }
#colourOptions label { display: flex; justify-content: space-between; }
#colourOptions [type="range"] { width: 70px }




#animationOptions label:last-child { display: block; }


/* hack to give Safari something in the CSS to recalculate */
/* .home #squares svg { height: 10%; } */




.home #squares.overlap { position: relative; }
.home #squares.overlap svg { position: absolute; 
  width: 90%; height: 75vh; max-height: 75vh; }
/* enabling this only shows the first 200, not the whole set */
.home #squares.overlap.few [class^="sentinel"] { display: none; }


#squares svg.hide { display: none; }
/* #squares svg { display: none; } */



/* .home { padding-top: 0 } */

.home nav a { text-transform: uppercase;
  color: var(--textColour); text-decoration: none; padding: 4px 1em; }
.home nav a.active { text-decoration: underline }
.home nav a:not(.active):hover { text-decoration: underline }





svg * { box-sizing: border-box; }

[class^='num-'] { stroke-width: 0; }

.num-1  { fill: #091540; stroke: #091540; 
  /* animation: anim1 4s alternate infinite;  */
}
.num-2  { fill: #7692FF; stroke: #7692FF; 
  /* animation: anim2 4s alternate infinite;  */
}
.num-3  { fill: #ABD2FA; stroke: #ABD2FA; 
  /* animation: anim3 4s alternate infinite; */
}
.num-4  { fill: #3D518C; stroke: #3D518C;
  /* animation: anim4 4s alternate infinite; */
}
.num-5  { fill: #1B2CC1; stroke: #1B2CC1;
  /* animation: anim5 4s alternate infinite; */
}
.num-6  { fill: #012A36; stroke: #012A36; 
  /* animation: anim6 4s alternate infinite; */
}
.num-7  { fill: #00A6FB; stroke: #00A6FB; 
  /* animation: anim7 4s alternate infinite; */
}
.num-8  { fill: #1F7A8C; stroke: #1F7A8C;
  /* animation: anim8 4s alternate infinite; */
}
.num-9  { fill: #50C9CE; stroke: #50C9CE; 
  /* animation: anim9 4s alternate infinite; */
}
.num-10 { fill: #58355E; stroke: #58355E; 
  /* animation: anim10 4s alternate infinite; */
}
.num-11 { fill: #B388EB; stroke: #B388EB;
  /* animation: anim11 4s alternate infinite; */
}
.num-12 { fill: #231942; stroke: #231942; 
  /* animation: anim12 4s alternate infinite; */
}
.num-13 { fill: #FF9FE5; stroke: #FF9FE5; 
  /* animation: anim13 4s alternate infinite; */
}
.num-14 { fill: #5E548E; stroke: #5E548E; 
  /* animation: anim14 4s alternate infinite; */
}
.num-15 { fill: #419D78; stroke: #419D78; 
  /* animation: anim15 4s alternate infinite; */
}
.num-16 { fill: #654597; stroke: #654597; 
  /* animation: anim16 4s alternate infinite; */
}


@keyframes colourCycle {
  from { opacity: 0 }
  to   { opacity: 1 }
}
@keyframes anim1  { 0% { opacity: 0 }   5.25% { opacity: 0 }   6.25% { opacity: 1 } }
@keyframes anim2  { 0% { opacity: 0 }  11.5%  { opacity: 0 }  12.5%  { opacity: 1 } }
@keyframes anim3  { 0% { opacity: 0 }  17.75% { opacity: 0 }  18.75% { opacity: 1 } }
@keyframes anim4  { 0% { opacity: 0 }  24%    { opacity: 0 }  25%    { opacity: 1 } }
@keyframes anim5  { 0% { opacity: 0 }  30.25% { opacity: 0 }  31.25% { opacity: 1 } }
@keyframes anim6  { 0% { opacity: 0 }  36.5%  { opacity: 0 }  37.5%  { opacity: 1 } }
@keyframes anim7  { 0% { opacity: 0 }  42.75% { opacity: 0 }  43.75% { opacity: 1 } }
@keyframes anim8  { 0% { opacity: 0 }  49%    { opacity: 0 }  50%    { opacity: 1 } }
@keyframes anim9  { 0% { opacity: 0 }  55.25% { opacity: 0 }  56.25% { opacity: 1 } }
@keyframes anim10 { 0% { opacity: 0 }  61.5%  { opacity: 0 }  62.5%  { opacity: 1 } }
@keyframes anim11 { 0% { opacity: 0 }  67.75% { opacity: 0 }  68.75% { opacity: 1 } }
@keyframes anim12 { 0% { opacity: 0 }  74%    { opacity: 0 }  75%    { opacity: 1 } }
@keyframes anim13 { 0% { opacity: 0 }  80.25% { opacity: 0 }  81.25% { opacity: 1 } }
@keyframes anim14 { 0% { opacity: 0 }  86.5%  { opacity: 0 }  87.5%  { opacity: 1 } }
@keyframes anim15 { 0% { opacity: 0 }  92.75% { opacity: 0 }  93.75% { opacity: 1 } }
@keyframes anim16 { 0% { opacity: 0 }  99%    { opacity: 0 } 100%    { opacity: 1 } }


/* 
'#091540','#7692FF','#ABD2FA','#3D518C',
'#1B2CC1','#012A36','#00A6FB','#1F7A8C',
'#50C9CE','#58355E','#B388EB','#231942',
'#FF9FE5','#5E548E','#419D78','#654597'
*/




/* .home form #unique {
  position: relative;
} */



/* GALLERY */
/* header.submenu.gallery { 
  display: flex; align-items: center; justify-content: flex-end; } */
.gallery #videos { margin: 1em 0; }
.gallery video { width: 100%; }
.gallery #renders { margin: 1em 0; column-count: 1; }
.gallery #renders img { margin: 1em 0; width: 100% }
.gallery #lines { margin: 1em 0; column-count: 1; }
.gallery #lines img { margin: 1em 0; width: 100%; }

#modal {
  /* user-select: none; */
  position: fixed; top: 0; left: 0; z-index: 3;
  width: 100vw; height: 100vh;
  display: flex; justify-content: center; align-items: center;
  background-color: rgba(0,0,0,0.9); }
.dayMode #modal { background-color: rgba(255, 255, 255, 0.8); }
/* gets overwritten by js */
#modal svg { object-fit: contain; width: 80vw; height: 80vh; }
#modal figure { display: flex; flex-direction: column; align-items: center; }
#modal figcaption { margin-top: 2em; font-size: 2em; }

/* #modal::selection {
  color: unset;
  background: none;
} */


main.research #squares svg {
  width: 50px;
  height: 50px;
  margin: 3px;
}
main.research #squares svg.self-compl {
  fill: rgba(209, 168, 255, 0.8);
}
main.research #squares svg.unique,
main.research #squares svg.identity {
  stroke: cyan;
  stroke-width: 10px;
}
main.research #squares svg.pandiag {
  /* stroke: magenta; */
  stroke-width: 10px;
  border-left: 1px dashed magenta;
  border-right: 1px dashed magenta;
}
main.research #squares svg.symmetric {
  /* stroke: yellow; */
  stroke-width: 10px;
  border-top: 1px dashed yellow;
  border-bottom: 1px dashed yellow;
}



/* image filters */ 
label.tag {
  padding: 0 5px;
  margin: 5px 5px;
  line-height: 1.5em;
  font-size: 0.8em;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid gray;
}
input[class^="filter-"] { display: none; }
input[class^="filter-"]:checked + label.tag,
label.tag:hover {
  background-color: #ccc;
  color: #222;
}

/* hide svgs first */
.research svg[class*="MD1"],
.research svg[class*="MD2"],
.research svg[class*="MH"],
.research svg[class*="MV"],
.research svg[class*="R1"],
.research svg[class*="R2"],
.research svg[class*="R3"],
.research svg[class*="unique"],
.research svg[class*="identity"],
.research svg[class*="pandiag"],
.research svg[class*="self-compl"],
.research svg[class*="symmetric"],
.research svg[class*="elara"],
.research svg[class*="asteria"],
.research svg[class*="hestia"],
.research svg[class*="hera"],
.research svg[class*="demeter"],
.research svg[class*="niobe"],
.research svg[class*="thaumas"],
.research svg[class*="nemesis"],
.research svg[class*="arges"],
.research svg[class*="eris"],
.research svg[class*="moros"],
.research svg[class*="cottus"]
{
  display: none;
}














/* CONTRIBUTE */
.contribute form input { display: inline-block }
.contribute form input#manualInput { 
  width: 95%; height: 30px; padding: 5px; cursor: text; }
.contribute form input#manualInput:invalid { 
  border: 2px solid #ff0055 }
.contribute form input#manualInput:valid { 
  border: 2px solid #888 }
.contribute form input#manualInput:focus { 
  outline: none }
.warning { color: #ff0055 }


main { margin: 1em; min-height: calc(100vh - 175px); }
main output { display: flex; justify-content: center; flex-wrap: wrap; }


/* this will be overwritten by js code when adjusting color */
#squares svg { fill: none; stroke: var(--textColour); stroke-width: 2px; margin: 20px 0; }
#squares svg[id^='numbers'] { 
  fill: var(--textColour); 
  stroke: none; 
}
#squares svg[id^='numbers'] text { 
  font-size: 35px;
}


#loading {
  display: none; position: fixed; z-index: 9999; 
  top: 0; left: 0; width: 100%; height: 100%; 
  /* background: url(../imgs/rotating-logo.svg) center no-repeat #00000050; */
  background: url(../imgs/spinning-arc.svg) center no-repeat #00000050;
  background-size: 20%; }
#loading.show { display: block }


/* main img { width: 100%; border: 1px solid white } */
main img.tinyLogo { width: 30px; border: none; position: relative; top: 5px }

.illustration { float: right; width: 250px; height: 250px; }
.bothNumbers { display: flex; align-items: center; }
.bothNumbers span { font-size: 5em; padding: 0 .5em; }
hr { margin: 2em 0; }



footer {
  margin-top: 3em; padding: 1em; 
  display: flex; 
  justify-content: flex-end; 
}
footer a, footer p { 
  opacity: .8;
  mix-blend-mode: difference;
  text-decoration: none; margin: 0; }



/* .overlap {
  position: relative;
}
.overlap svg {
  position: absolute;
  width: 500px;
  stroke-width: 1px;
} */

#squares.animateOddly { --speed: 2; }
#squares.animateOddly svg path { 
  animation-name: dash;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; 
  animation-iteration-count: infinite; 
}
/* #squares.animateOddly svg .lines {  */
  /* animation-duration: calc(2.5 * var(--speed))s; */
  /* animation-duration: 5s; */
#squares.animateEvenly svg path {
  animation: dash 20s ease-in-out alternate infinite }
@keyframes dash { to { stroke-dashoffset: 0 } }







@media screen and (min-width: 500px) {

  svg { fill: none; stroke: var(--textColour); stroke-width: 2px; 
    width: 200px; margin: 20px; 
  }

}



@media screen and (min-width: 700px) {

  body:not(.dayMode) {
    --backColour: #222222;
    --mediumBackColour: #11111140;
    --darkBackColour: #11111195;
    --textColour: #eeeeee;
  }
  body.dayMode {
    --backColour: #ffffff;
    --mediumBackColour: #11111140;
    --darkBackColour: #11111195;
    --textColour: #000000;
  }

  /* .dayMode #squares svg {
    stroke: var(--textColour);
  } */
  .dayMode #styleOptions svg text { fill: none; }


  .printSettings {
    display: flex; justify-content: center;
  }
  .printSettings input { display: none; }
  .printSettings svg { width: 30px; height: 30px; margin: 0; }
  .printSettings #night + svg.moon { stroke-width: 2px; }
  .printSettings #day + svg.sun { stroke-width: 3px; }
  .printSettings #night:checked + svg.moon:last-child {
    fill: #EEEEEE;
  }
  .printSettings #day:checked + svg.sun circle {
    fill: #000000;
  }

  header { padding: 0 2em }

  .mainmenu div h1 { display: block; margin-left: 1em; width: 250px }

  #hamburger { display: none }
  #mainnav { 
    transform: translateX(0);
    background: none; position: static;
    flex-direction: row; justify-content: flex-end }
  #mainnav a { padding: 4px 1em; }
  #mainnav a.active { border-right: none; border-top: 1px solid white }
  #mainnav a:not(.active):hover { border-bottom: 1px solid white }


  #subway { display: none }


  .submenu { 
    background: var(--mediumBackColour); padding: 1em; }

  .submenu #manual { margin: 1em }

  .submenu.home, 
  .submenu.research { 
    transform: translateX(0);
    width: 200px;
    height: calc(100vh - 80.88px);
  }
  .submenu.home form, 
  .submenu.research form {  
    justify-content: space-between;
    height: calc(100vh - 80.88px - 2em);
  }
  /* .submenu.gallery { 
  } */

  input, select { cursor: pointer; }
  label { cursor: pointer; font-size: 0.9em; }


  #order4quadOptions span,
  #overlapOptions span { font-size: .8em }
  /* #styleOptions img {
    width: 40px; padding: 4px; box-sizing: border-box; filter: grayscale(1);
  } */
  #order4quadOptions { border: 0; padding: 0; text-align: right; 
    display: flex; flex-direction: column;
    line-height: .95em;
    position: absolute; top: 8px; right: 8px; font-size: .8em; 
  }
  #order4quadOptions [type="radio"] { display: none }
  #order4quadOptions [type="radio"]:not(:checked) + span::after { 
    content: " ✘"; color: #666; }
  #order4quadOptions [type="radio"]:checked + span::after { 
    content: " ✔"; color: #BBB; }



  #sizeOptions > label:not(:last-of-type) { display: unset; } 
  #sizeOptions > label:not(:last-of-type) span, 
  #sizeOptions > label:not(:last-of-type) input { display: unset; } 
  #sizeOptions > label:not(:last-of-type) span {  width: unset; } 
  /* line below can't be used as breaks firefox ? and edge ? */
  /* #sizeOptions > label:not(:last-of-type) input {  width: unset; }  */

  #overlapOptions { border: 0; padding: 0; text-align: right; 
    display: flex; flex-direction: column;
    line-height: .95em;
    position: absolute; bottom: 5px; right: 5px; font-size: .8em; 
  }
  #overlapOptions [type="radio"] { display: none }
  #overlapOptions [type="radio"]:not(:checked) + span::after { 
    content: " ✘"; color: #666; }
  #overlapOptions [type="radio"]:checked + span::after { 
    content: " ✔"; color: #BBB; }





  #colourOptions [type="color"] { 
    width: 35px; padding: 0; margin: 0; border: 0; }
  #colourOptions label { display: flex; justify-content: space-between; }
  #colourOptions [type="range"] { width: 70px }


  #animationOptions [type="radio"] { display: none; }
  #animationOptions label:nth-of-type(1)::after { content: "|"; color: #666; }
  #animationOptions label:nth-of-type(2)::after { content: "|"; color: #666; }
  #animationOptions [type="radio"]:checked + span { text-decoration: underline; }
  #animationOptions [type="range"] { width: 70px; }
  #animationOptions:last-child { display: block; }



  #presetOptions #themes { width: 125px }
  #presetOptions label { display: none }
  #presetOptions input { width: 60px; margin: 2px 0;}

  #advancedOptions #search { width: 115px }





  main { margin: 2em; min-height: calc(100vh - 212px); }
  main.home,
  main.research { margin-left: calc(200px + 2em) }
  





  .gallery #videos { margin: 1em; }
  .gallery #renders { margin: 1em; column-count: 2; }
  .gallery #lines { margin: 1em; column-count: 2; }


  /* .contribute form input#manualInput { width: 100%; } */



}

  /* --backColour: #222222;
  --mediumBackColour: #11111140;
  --darkBackColour: #11111195;
  --textColour: #eeeeee; */
/* 
.day   { background: #ffffff; color: #000000; }
.night { background: #222222; color: #eeeeee; }

@media (prefers-color-scheme: dark) {
  .day.dark-scheme   { background:  #333; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }
}

@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
} */



/* hack to give Safari something in the CSS to recalculate */
@media not all and (min-resolution: .001dpcm) {
  @supports( -webkit-appearance:none) {
    .home #squares svg { height: 10%; }
  }
}